body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: #B0BEC5;
  display: table;
  font-weight: 500;

}

.container {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.content {
  text-align: center;
  display: inline-block;
}

.title {
  font-size: 96px;
  margin-bottom: 40px;
  font-family: 'Lato';
}

.item {
  font-size: 24px;
  font-weight: 400;
  margin: 10px;
}

.item strong {
  font-weight: 900;
}

.credit {
  font-weight: 700;
  position: absolute;
  bottom: 30px;
  width: 100%;
  font-family: 'Lato';
  left: 0;
  text-align: center;
}

.credit a {
  text-decoration: none;
  color: grey;
}

.credit strong {
  font-weight: 900;
}